@media only screen and (max-width:600px){
    p {
        font-size: 15px;
    }
}
@media only screen and (max-width:400px){
    p {
        font-size: 14px;
    }
}
/*
* header
*/
@media only screen and (max-width:768px) {
    header .row{
        height: 60px;
    }

    header .logo {
        top: 6%;
    }
    .menu {
        top: 15%;
    }
}
@media only screen and (max-width:768px) {
	#main-nav-wrap {
		display: block;
		width: 100%;
		position: absolute;
		top: 69px;
		right: 0;
	}
	a.menu-toggle {
		display: block;
		width: 40px;
		height: 40px;
		position: absolute;
		top: 50%;
		right: 30px;
		margin-top: -20px;
	}
	a.menu-toggle span {
		display: block;
		width: 24px;
		height: 3px;
		margin-top: -1.5px;
		position: absolute;
		right: 8px;
		top: 50%;
		bottom: auto;
		left: auto;
		background-color: #606061;
		-moz-transition: background 0.2s ease-in-out;
		-o-transition: background 0.2s ease-in-out;
		-webkit-transition: background 0.2s ease-in-out;
		-ms-transition: background 0.2s ease-in-out;
		transition: background 0.2s ease-in-out;
		font: 0/0 a;
		text-shadow: none;
		color: transparent;
	}
	a.menu-toggle span::before, a.menu-toggle span::after {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		background-color: inherit;
		left: 0;
		-moz-transition-duration: 0.2s, 0.2s;
		-o-transition-duration: 0.2s, 0.2s;
		-webkit-transition-duration: 0.2s, 0.2s;
		-ms-transition-duration: 0.2s, 0.2s;
		transition-duration: 0.2s, 0.2s;
		-moz-transition-delay: 0.2s, 0s;
		-o-transition-delay: 0.2s, 0s;
		-webkit-transition-delay: 0.2s, 0s;
		-ms-transition-delay: 0.2s, 0s;
		transition-delay: 0.2s, 0s;
	}
	a.menu-toggle span::before {
		top: -8px;
		-moz-transition-property: top, transform;
		-o-transition-property: top, transform;
		-webkit-transition-property: top, transform;
		-ms-transition-property: top, transform;
		transition-property: top, transform;
	}
	a.menu-toggle span::after {
		bottom: -8px;
		-moz-transition-property: bottom, transform;
		-o-transition-property: bottom, transform;
		-webkit-transition-property: bottom, transform;
		-ms-transition-property: bottom, transform;
		transition-property: bottom, transform;
	}
	.menu-toggle.is-clicked span {
		background-color: rgba(255, 255, 255, 0);
	}
	.menu-toggle.is-clicked span::before, .menu-toggle.is-clicked span::after {
		background-color: #606061;
		-moz-transition-delay: 0s, 0.2s;
		-o-transition-delay: 0s, 0.2s;
		-webkit-transition-delay: 0s, 0.2s;
		-ms-transition-delay: 0s, 0.2s;
		transition-delay: 0s, 0.2s;
	}
	.menu-toggle.is-clicked span::before {
		top: 0;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	.menu-toggle.is-clicked span::after {
		bottom: 0;
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
	.main-navigation {
		background: #525251;
		padding: 48px 42px 54px 42px;
		margin: 0;
		width: 100%;
		height: auto;
		clear: both;
		display: none;
	}
	.main-navigation > li {
		display: block;
		height: auto;
		text-align: left;
		border-bottom: 1px dotted rgba(200, 200, 200, 0.08);
		padding: 0;
	}
	.main-navigation > li:first-child {
		border-top: 1px dotted rgba(200, 200, 200, 0.08);
	}
	.main-navigation li a {
		display: block;
		color: #e6e6e6;
		width: auto;
		padding: 18px 0;
		line-height: 16px;
		border: none;
	}
	.main-navigation li a:hover {
		color: #f2da3b;
	}

	.main-navigation li.current > a {
		background: none;
		color: #f2da3b;
	}
	.main-navigation li.current > a:after {
		display: none;
	}
}

/*
* intro
*/
@media only screen and (max-width: 600px) {
    #intro {
        min-height: 700px;
    }
}
/*
* about-us
*/
@media only screen and (max-width:600px) {
    .presentation>div {
        min-width: 100%;
    }
    .col-right {
        margin: 0 auto;
        position: relative;
    }
    .col-left {
        display: block;
        margin: 0 auto;
    }
}
/*
* works
*/
@media only screen and (max-width:1220px) {
    .featuring {
        text-align: center;
    }
    .featuring li {
        margin: 0 1% 1% 0;
    }
    .featuring li:nth-child(3n+3) {
        margin-right: 1%;
    }
}
@media only screen and (max-width:600px) {
    .featuring {
        margin-top: 90px;
        text-align: center;
    }
    .featuring li {
        width: 90%;
    }
}
@media screen and (max-width:400px) {
        .featuring li {
        margin-left: 5%;
            width: 90%;
    }
}
/*
* servises 
*/
@media only screen and (max-width:768px) {
    .block-a, .block-b {
        width: 100%;
        display: block;
    }
}
@media only screen and (max-width:600px) {
     .block-a, .block-b {
        max-width: 100%;
        margin: 0 auto;
    }
}
/*
* team
*/
@media only screen and (max-width:1220px) {
    .photo-wall {
        top: 100px;
        text-align: center;
    }
    .person:nth-child(3n+3) {
    margin-right: 1.31578947368421%;
}
@media only screen and (max-width:600px) {
}
    @media only screen and (max-width:400px) {
        .photo-wall {
            left: 2%;
            display: block;
        }
        .person {
            width: 90%;
        }
    }
/*
* reviews
*/
@media only screen and (max-width:1024px) {
    #reviews {
        min-height: 723px;
    }
    #words .col-right {
        
    }
    #reviews .col-right .wrap {
        padding: 15% 9% 0 8.2%;
    }
}
@media only screen and (max-width:600px) {
   #reviews .presentation .col-left {
    min-width: 80%;
}
        #words .col-right {
        width: 500px;
    }
    #reviews .col-right .wrap {
        padding: 60px 9% 0 8.2%;
    }
}
@media only screen and (max-width:400px) {
    #words .col-right {
        width: 300px;
    }
    #words .col-right .wrap {
    padding: 101px 0 0 3.91291291291291%;
    }
}
/*
*partners
*/

@media only screen and (max-width:1220px){
    #partners .featuring {
        text-align: center;
    }
    #partners .featuring li {
        margin-right: 2.26315789473684%;
    }
    #partners .featuring li:first-child {
        margin-left: 25.82456140350877%;
    }
    #partners .featuring li:nth-child(3) {
        margin-right: 20.82456140350877%;
    }
    @media only screen and (max-width:768px) {
        #partners .featuring {
            position: relative;
            left: 3%;
        }
        #partners .featuring li {
            margin-bottom: 2%;
        }
        #partners .featuring li:first-child {
            margin-left: auto;
        }
        #partners .featuring li:nth-child(3) {
            margin-right: 0;
        }
        #partners .featuring li:last-child {
            margin: 0 auto;
        }
    }
}
@media only screen and (max-width:600px) {
            #partners .featuring li:nth-child(odd) {
            margin-left: auto;
        }
}
/*
* feedback
*/
    @media only screen and (max-width:768px) {
        #feedback .col-left input[type=button] {
            height: 53px;
            font-size: 14px;
        }
}
@media only screen and (max-width:600px) {
    #feedback .col-left, .col-right {
        width: 100%;
        margin-bottom: 1%;
    }
    #feedback .col-right {
        width: 100%;
    }
}
